* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1 {
  background: url("../images/background.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.links {
  margin-left: 65vw;
  list-style: none;
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hyperlink{
  text-decoration:none;
  color:white;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.sign-up {
  border: none;
  font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 2vh 3vw;
  color: rgb(73, 73, 73);
  cursor:pointer;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}