* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1 {
  background: url("../images/presentation.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
}